<template>
  <div class="row mb-12">
    <div class="row mb-12">
      <nuxt-content class="mb-12 text-left" :document="abstract" />
    </div>
    <div class="row mb-12">
      <h2 class="font-semibold">{{ sticking.title }}</h2>
      <nuxt-content class="mt-4 text-left" :document="sticking" />
    </div>
    <div class="grid grid-flow-col gap-4 mb-12">
      <div class="col">
        <h2 class="font-semibold">{{ plain.title }}</h2>
        <nuxt-content
          class="mt-4 max-w-2xl lg:mx-auto text-left"
          :document="plain"
        />
      </div>
      <div class="col">
        <h2 class="font-semibold">{{ biDirectional.title }}</h2>
        <nuxt-content class="mt-4 text-left" :document="biDirectional" />
      </div>
      <!--      <div class="col-span-3">-->
      <!--        <h2 class="font-semibold">Formally</h2>-->
      <!--        <nuxt-content class="mt-4 text-left" :document="biDirectional" />-->
      <!--      </div>-->
    </div>
  </div>
</template>

<script>
export default {
  props: {
    abstract: {
      type: Object,
      required: false,
      default: () => {},
    },
    plain: {
      type: Object,
      required: false,
      default: () => {},
    },
    biDirectional: {
      type: Object,
      required: false,
      default: () => {},
    },
    sticking: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
}
</script>

<style></style>
