<template>
  <div class="row mb-24">
    <h1 class="mb-12 text-base font-semibold leading-8 text-gray-900">
      Example: Double-sided Sticking Operation
    </h1>
    <div
      class="
        w-1/2
        py-2
        my-8
        mx-auto
        relative
        flex
        items-center
        border-b border-green-700
      "
      :class="status($v.strand)"
    >
      <button
        class="
          flex-shrink-0
          bg-green-700
          hover:bg-green-900
          border-green-700
          hover:border-green-900
          disabled:opacity-70
          disabled:cursor-not-allowed
          text-sm
          border-4
          text-white
          py-1
          px-2
          rounded
        "
        type="button"
        :disabled="status($v.strand).error"
        @click="addToStrand('upper')"
      >
        Add to Upper Rules
      </button>
      <input
        v-model="$v.strand.$model"
        class="
          appearance-none
          bg-transparent
          border-none
          w-full
          text-gray-700 text-center
          py-1
          px-2
          leading-tight
          focus:outline-none
        "
        name="strand"
        type="text"
        placeholder="ATGCA..."
        maxlength="5"
      />

      <button
        class="
          flex-shrink-0
          bg-green-700
          hover:bg-green-900
          border-green-700
          hover:border-green-900
          disabled:opacity-70
          disabled:cursor-not-allowed
          text-sm
          border-4
          text-white
          py-1
          px-2
          ml-2
          rounded
        "
        type="button"
        :disabled="status($v.strand).error"
        @click="addToStrand('lower')"
      >
        Add to Lower Rules
      </button>
      <span class="hidden absolute -bottom-6 text-xs text-red-600">
        Only the letters A,T,C,G are allowed!
      </span>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-12">
      <div class="col">
        <h2 class="font-semibold">Rules on <b>upper</b> strand</h2>
        <div class="mt-4 max-w-2xl lg:mx-auto text-center">
          <div
            v-for="(element, index1) in upperStrandAvailable"
            :key="element.string + index1"
            class="flex flex-row cursor-pointer justify-center"
            @click="addToMainStrand('upper', index1)"
          >
            <template v-for="(string, index2) in element.string.split('')">
              <div
                :key="string + index1 + index2 + getRandomInt(1000)"
                class="m-0 text-white font-bold text-xl cursor-pointer"
                :style="{
                  backgroundColor: element.color,
                  width: 28 + 'px',
                  flexShrink: 0,
                }"
              >
                {{ string }}
              </div>
            </template>
            <div class="w-4"></div>
            <template
              v-for="(string, index2) in $options.filters
                .reverse(element.string)
                .split('')"
            >
              <div
                :key="string + index1 + index2 + getRandomInt(1000)"
                class="m-0 text-white font-bold text-xl cursor-pointer"
                :style="{
                  backgroundColor: element.color,
                  width: 28 + 'px',
                  flexShrink: 0,
                }"
              >
                {{ string }}
              </div>
            </template>
          </div>
        </div>
      </div>
      <div class="col">
        <h2 class="font-semibold">Rules on <b>lower</b> strand</h2>
        <div class="mt-4 text-center">
          <div
            v-for="(element, index1) in lowerStrandAvailable"
            :key="element.string + index1"
            class="flex flex-row cursor-pointer justify-center"
            @click="addToMainStrand('lower', index1)"
          >
            <template v-for="(string, index2) in element.string.split('')">
              <div
                :key="string + index1 + index2 + getRandomInt(1000)"
                class="m-0 text-white font-bold text-xl cursor-pointer"
                :style="{
                  backgroundColor: element.color,
                  width: 28 + 'px',
                  flexShrink: 0,
                }"
              >
                {{ string }}
              </div>
            </template>
            <div class="w-4"></div>
            <template
              v-for="(string, index2) in $options.filters
                .reverse(element.string)
                .split('')"
            >
              <div
                :key="string + index1 + index2 + getRandomInt(1000)"
                class="m-0 text-white font-bold text-xl cursor-pointer"
                :style="{
                  backgroundColor: element.color,
                  width: 28 + 'px',
                  flexShrink: 0,
                }"
              >
                {{ string }}
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <p class="mb-4">Click dominoes above to add to the sides</p>

      <h2 class="font-semibold">Initial Domino</h2>
      <div class="h-full flex">
        <div
          class="
            h-7
            w-1/2
            border-dashed border-light-blue-500 border-t-2 border-l-2
          "
        ></div>
        <template v-for="(element, index1) in upperStrand">
          <template v-for="(string, index2) in element.string.split('')">
            <div
              :key="string + index1 + index2 + getRandomInt(1000)"
              class="m-auto text-white font-bold text-xl cursor-pointer"
              :style="{
                backgroundColor: element.color,
                width: 28 + 'px',
                flexShrink: 0,
              }"
            >
              {{ string }}
            </div>
          </template>
        </template>
        <div
          class="
            h-7
            w-1/2
            border-dashed border-light-blue-500 border-t-2 border-r-2
          "
        ></div>
      </div>
      <div class="list-group h-full flex">
        <div
          class="h-7 w-1/2 border-dashed border-light-blue-500 border-2"
        ></div>

        <template v-for="(element, index1) in lowerStrand">
          <template v-for="(string, index2) in element.string.split('')">
            <div
              :key="string + index1 + index2 + getRandomInt(1000)"
              class="m-auto text-white font-bold text-xl cursor-pointer"
              :style="{
                backgroundColor: element.color,
                width: 28 + 'px',
                flexShrink: 0,
              }"
            >
              {{ string }}
            </div>
          </template>
        </template>
        <div
          class="h-7 w-1/2 border-dashed border-light-blue-500 border-2"
        ></div>
      </div>

      <button
        class="
          flex-shrink-0
          bg-green-700
          hover:bg-green-900
          border-green-700
          hover:border-green-900
          text-sm
          border-4
          text-white
          py-1
          px-2
          rounded
          mt-8
        "
        @click="reset"
      >
        Reset
      </button>
    </div>
  </div>
</template>

<script>
export default {
  filters: {
    reverse(data) {
      const reverse = data.split('').reverse().join('')
      return reverse
    },
  },
  data() {
    return {
      strand: '',
      colors: [
        '#aa0b0b',
        '#062fd5',
        '#e8820b',
        '#021a96',
        '#bd0fbd',
        '#941a1a',
        '#342c2c',
        '#06d5d5',
        '#aa0b0b',
        '#f51313',
        '#2daa0b',
        '#aa0b0b',
        '#342c2c',
      ],
      upperStrandAvailable: [],
      lowerStrandAvailable: [],
      upperStrand: [
        {
          string: 'A',
          length: 1,
          color: '#aa0b0b',
        },
      ],
      lowerStrand: [
        {
          string: 'C',
          length: 1,
          color: '#062fd5',
        },
      ],
    }
  },
  validations: {
    strand: {
      custom(strand) {
        return /\b([ACGT]+\b)/g.test(strand)
      },
    },
  },
  created() {
    this.reset()
  },
  methods: {
    addToStrand(side) {
      const DNAStrand = this.strand.split('')
      const DNAFormattedStrand = {}

      DNAFormattedStrand.color = this.getRandomColor()
      DNAFormattedStrand.length = DNAStrand.length
      DNAFormattedStrand.string = DNAStrand.join('')

      if (side === 'upper') {
        this.upperStrandAvailable.push(DNAFormattedStrand)
      } else {
        this.lowerStrandAvailable.push(DNAFormattedStrand)
      }

      this.strand = ''
      this.$v.$reset()
    },
    addToMainStrand(side, index) {
      if (side === 'upper') {
        const element = this.upperStrandAvailable[index]

        // console.log(this.validStrand('upper', element))
        if (!this.validStrand('upper', element)) return

        const mirroredElement = JSON.parse(JSON.stringify(element))
        mirroredElement.string = this.$options.filters.reverse(element.string)

        this.upperStrand.unshift(element)
        this.upperStrand.push(mirroredElement)
        this.upperStrandAvailable.splice(index, 1)
      } else {
        const element = this.lowerStrandAvailable[index]

        if (!this.validStrand('lower', element)) return

        const mirroredElement = JSON.parse(JSON.stringify(element))
        mirroredElement.string = this.$options.filters.reverse(element.string)

        this.lowerStrand.unshift(element)
        this.lowerStrand.push(mirroredElement)
        this.lowerStrandAvailable.splice(index, 1)
      }
    },
    validStrand(side, elementToAdd) {
      const lowerStrandArr = [...this.lowerStrand]
      const upperStrandArr = [...this.upperStrand]
      const lowerStrandArrLength = (lowerStrandArr.length - 1) / 2
      const upperStrandArrLength = (upperStrandArr.length - 1) / 2
      let lowerStrandElementLength = 0
      let upperStrandElementLength = 0
      let lowerStrandElementSymbols = ''
      let upperStrandElementSymbols = ''

      for (let i = 0; i < lowerStrandArrLength; i++) {
        lowerStrandElementLength += lowerStrandArr[i].length
        lowerStrandElementSymbols = lowerStrandElementSymbols.concat(
          lowerStrandArr[i].string
        )
      }

      for (let i = 0; i < upperStrandArrLength; i++) {
        upperStrandElementLength += upperStrandArr[i].length
        upperStrandElementSymbols = upperStrandElementSymbols.concat(
          upperStrandArr[i].string
        )
      }

      if (side === 'upper') {
        if (lowerStrandElementLength <= upperStrandElementLength) return true
        // See if the symbols match
        const diff =
          upperStrandElementLength +
          elementToAdd.length -
          lowerStrandElementLength

        lowerStrandElementSymbols = this.$options.filters
          .reverse(lowerStrandElementSymbols)
          .substring(
            upperStrandElementLength,
            upperStrandElementLength + elementToAdd.length
          )

        // match upperStrandElementSymbols against elementToAdd.string
        lowerStrandElementSymbols = lowerStrandElementSymbols
          .replaceAll('A', 'B')
          .replaceAll('T', 'A')
          .replaceAll('B', 'T')
          .replaceAll('C', 'D')
          .replaceAll('G', 'C')
          .replaceAll('D', 'G')

        const elementToAddFormatted = this.$options.filters
          .reverse(elementToAdd.string)
          .substring(
            0,
            // if the lower string is smaller than the one to be added,
            // reduce verification string size. if not, keep it the same
            elementToAdd.string.length - (diff > 0 ? diff : 0)
          )

        return lowerStrandElementSymbols === elementToAddFormatted
      } else {
        if (upperStrandElementLength <= lowerStrandElementLength) return true

        const diff =
          lowerStrandElementLength +
          elementToAdd.length -
          upperStrandElementLength

        // See if the symbols match
        upperStrandElementSymbols = this.$options.filters
          .reverse(upperStrandElementSymbols)
          .substring(
            lowerStrandElementLength,
            lowerStrandElementLength + elementToAdd.length
          )
        // match lowerStrandElementSymbols against elementToAdd.string
        upperStrandElementSymbols = upperStrandElementSymbols
          .replaceAll('A', 'B')
          .replaceAll('T', 'A')
          .replaceAll('B', 'T')
          .replaceAll('C', 'D')
          .replaceAll('G', 'C')
          .replaceAll('D', 'G')

        const elementToAddFormatted = this.$options.filters
          .reverse(elementToAdd.string)
          .substring(
            0,
            // if the lower string is smaller than the one to be added,
            // reduce verification string size. if not, keep it the same
            elementToAdd.string.length - (diff > 0 ? diff : 0)
          )

        return upperStrandElementSymbols === elementToAddFormatted
      }
    },
    getRandomColor() {
      return this.colors[this.getRandomInt(13)]
    },
    getRandomInt(max) {
      return Math.floor(Math.random() * max)
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      }
    },
    reset() {
      this.upperStrand = [{}]
      this.lowerStrand = [{}]
      const symbols = ['A', 'C', 'T', 'G']
      this.upperStrand[0].string =
        symbols[Math.floor(Math.random() * symbols.length)]
      this.lowerStrand[0].string =
        symbols[Math.floor(Math.random() * symbols.length)]
      this.upperStrand[0].length = 1
      this.lowerStrand[0].length = 1
      this.upperStrand[0].color = this.getRandomColor()
      this.lowerStrand[0].color = this.getRandomColor()
    },
  },
}
</script>

<style lang="scss">
.error {
  border-color: red;

  span {
    display: block;
  }
}
</style>
