<template>
  <div class="row mb-24">
    <h1 class="mb-12 text-base font-semibold leading-8 text-gray-900">
      Example: Sticking Operation
    </h1>

    <div v-if="completeDNA" class="mb-8">
      <button
        class="
          bg-blue-500
          hover:bg-blue-700
          text-white
          font-bold
          py-2
          px-4
          rounded
        "
        @click="$emit('reset')"
      >
        Generate New
      </button>
    </div>

    <div v-else class="px-4 pb-8">
      <div class="flex justify-center mb-4">
        <draggable
          class="list-group border-solid border-1 border-light-blue-500"
          :list="addableStickerList"
          :group="{ name: 'complement', pull: 'clone', put: false }"
        >
          <div
            v-for="(element, index) in addableStickerList"
            :key="element.string + index"
            :class="{ hidden: index !== currentComplementIndex }"
            class="w-full p-2 bg-white border-b border-grey cursor-pointer"
          >
            {{ element.string }}
          </div>
        </draggable>
      </div>

      <p>Drag to the side it will stick to</p>
    </div>

    <div class="relative inline-block">
      <div class="flex justify-center">
        <div class="bg-grey-light flex-no-shrink">
          <div class="text-center">
            <h3 class="text-sm">DNA Sequence</h3>
          </div>
          <div class="text-sm mt-2">
            <draggable
              class="list-group h-full flex"
              :list="stickerList"
              group="complement"
              :disabled="true"
            >
              <div
                v-for="(element, index) in stickerList"
                :key="element.string + index"
                :style="{
                  backgroundColor: element.color,
                  width: element.length * 28 + 'px',
                }"
                class="
                  h-full
                  bg-white
                  text-white
                  font-bold
                  text-xl
                  border-b border-grey
                  cursor-pointer
                  hover:bg-grey-lighter
                "
              >
                {{ element.string }}
              </div>
            </draggable>
          </div>
        </div>
      </div>

      <div class="flex justify-center relative">
        <div
          v-for="(element, index) in addableStickerList"
          :key="element.string + index"
          class="bg-grey-light flex-no-shrink drop-zone"
          :style="{
            width: element.length * 28 + 'px',
          }"
        >
          <div
            :class="{ 'border-2': emptyList[index].list.length === 0 }"
            class="h-9 border-dashed border-light-blue-500"
          >
            <draggable
              class="list-group"
              :data-complement="element.string"
              :data-list-index="index"
              :list="emptyList[index].list"
              group="complement"
              :disabled="emptyList[index].list.length > 0"
              @add="onAdd"
            >
              <div
                v-if="emptyList[index].list.length > 0"
                :style="{
                  backgroundColor: emptyList[index].list[0].color,
                  width: emptyList[index].length * 28 + 'px',
                }"
                class="h-full py-1 text-white font-bold text-xl"
              >
                {{ emptyList[index].list[0].string }}
              </div>
            </draggable>
          </div>
        </div>
      </div>

      <p
        v-if="validGuess != null"
        :class="[
          'mt-12 text-red-500 font-bold',
          { 'text-green-500': validGuess },
        ]"
      >
        {{
          completeDNA
            ? 'Nailed it!'
            : validGuess
            ? 'Nice job, carry on'
            : 'Nope, try again'
        }}
      </p>
    </div>
    {{ addableStickerList }}
  </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  components: {
    draggable,
  },
  props: {
    addableStickerList: {
      type: Array,
      required: true,
      default: () => [],
    },
    stickerList: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
  data() {
    return {
      completeDNA: false,
      currentComplementIndex: 0,
      availableComplementIndices: [],
      validGuess: null,
      emptyList: [],
      // json format - {
      //   validString: listItem.string,
      //   valid: false,
      //   length: 0,
      //   list: [],
      // }
    }
  },
  watch: {
    addableStickerList: {
      handler() {
        this.triggerPopulateData()
      },
      immediate: true,
    },
  },
  created() {
    this.triggerPopulateData()
  },
  methods: {
    triggerPopulateData() {
      this.completeDNA = false
      this.validGuess = null
      this.emptyList = []
      this.availableComplementIndices = []
      this.currentComplementIndex = 0

      for (let i = 0; i < this.addableStickerList.length; i++) {
        this.availableComplementIndices.push(i)
      }

      this.currentComplementIndex =
        this.availableComplementIndices[
          Math.floor(Math.random() * this.addableStickerList.length)
        ]

      this.addableStickerList.forEach((listItem, index) => {
        this.emptyList[index] = {
          validString: listItem.string,
          valid: false,
          length: listItem.length,
          list: [],
        }
      })
    },
    onAdd(evt) {
      if (
        this.addableStickerList[evt.oldDraggableIndex].string ===
        evt.to.dataset.complement
      ) {
        this.availableComplementIndices =
          this.availableComplementIndices.filter(
            (item) => item !== this.currentComplementIndex
          )

        this.currentComplementIndex =
          this.availableComplementIndices[
            Math.floor(Math.random() * this.availableComplementIndices.length)
          ]

        this.validGuess = true
        this.emptyList[evt.to.dataset.listIndex].valid = true
      } else {
        this.emptyList[evt.to.dataset.listIndex].list = []
        this.validGuess = false
      }

      let valid = true
      this.emptyList.forEach((listItem) => {
        if (!listItem.valid) {
          valid = false
        }
        this.completeDNA = valid
      })
    },
  },
}
</script>
