<template>
  <div class="row mb-12">
    <div class="px-4">
      <div class="lg:text-center">
        <h3
          class="
            mb-3
            text-3xl
            leading-8
            font-medium
            tracking-tight
            text-gray-900
            sm:text-4xl
          "
        >
          {{ header.title }}
        </h3>

        <nuxt-content
          class="mt-4 text-gray-500 lg:mx-auto"
          :document="header"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    header: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
  data() {
    return {}
  },
  methods: {},
}
</script>

<style></style>
