<template>
  <div class="row">
    <h2 class="text-2xl font-medium mb-3">References:</h2>
    <div
      v-for="(item, index) in citations"
      :key="index"
      class="flex px-4 mb-2 items-start"
    >
      {{ index + 1 }}.
      <p class="text-left" v-html="item"></p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    citations: {
      type: Array,
      required: false,
      default: () => {},
    },
  },
  data() {
    return {}
  },
  methods: {},
}
</script>

<style></style>
