<template>
  <div class="row mb-12">
    <div class="row mb-12">
      <h2 class="font-semibold">{{ types.title }}</h2>
      <nuxt-content class="mt-4 text-left" :document="types" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    types: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
}
</script>

<style></style>
