<template>
  <div class="container">
    <section class="my-12">
      <Header :header="header" />
      <DominoesV2
        :addable-sticker-list="DNABottom"
        :sticker-list="DNATop"
        @reset="resetDomino"
      />
      <Abstract
        :abstract="abstract"
        :plain="plain"
        :bi-directional="biDirectional"
        :sticking="sticking"
      />
      <!--      <Dominoes-->
      <!--        :addable-sticker-list="DNABottom"-->
      <!--        :sticker-list="DNATop"-->
      <!--        @reset="resetDomino"-->
      <!--      />-->

      <!--      <DominoesV2-->
      <!--        :addable-sticker-list="DNABottom"-->
      <!--        :sticker-list="DNATop"-->
      <!--        @reset="resetDomino"-->
      <!--      />-->
      <!--      <TypesStickers :types="types" />-->

      <References :citations="citations" />
    </section>
  </div>
</template>

<script>
const Cite = require('citation-js')

export default {
  async asyncData({ $content }) {
    const header = await $content('header').fetch()
    const abstract = await $content('abstract').fetch()
    const plain = await $content('plain').fetch()
    const biDirectional = await $content('biDirectional').fetch()
    const sticking = await $content('sticking').fetch()
    const types = await $content('types').fetch()

    const citations = Array.from(
      new Cite(`
        @article{PAUN1998183,
          title = {Sticker systems},
          journal = {Theoretical Computer Science},
          volume = {204},
          number = {1},
          pages = {183-203},
          year = {1998},
          issn = {0304-3975},
          doi = {https://doi.org/10.1016/S0304-3975(98)00039-5},
          url = {https://www.sciencedirect.com/science/article/pii/S0304397598000395},
          author = {Gheorghe Păun and Grzegorz Rozenberg},
          keywords = {DNA Computing, Chomsky hierarchy, Equality sets of morphisms, Characterizations of recursively enumerable languages},
          abstract = {Sticker systems is a computational model which is an abstraction of the way that the Watson-Crick complementarity is used in DNA computing. We consider such systems of a general form, with blocks of arbitrary shapes to be annealed to the currently built sequences. We investigate the generative power of several variants of sticker systems. Characterizations of regular, linear, and recursively enumerable languages are obtained in this framework.}
        }
        @article{article,
          author = {Csuhaj-Varjú, Erzsébet and Freund, Rudolf and Kari, L and Păun, G},
          year = {1996},
          month = {02},
          pages = {179-90},
          title = {DNA computing based on splicing: Universality results},
          journal = {Pacific Symposium on Biocomputing. Pacific Symposium on Biocomputing}
        }
        @article{Freund1998BidirectionalSS,
          title={Bidirectional sticker systems.},
          author={Rudolf Freund and Gheorghe Paun and Grzegorz Rozenberg and Arto Salomaa},
          journal={Pacific Symposium on Biocomputing. Pacific Symposium on Biocomputing},
          year={1998},
          pages={535-46}}
          @Inbook{Head1997,
            author="Head, Thomas
            and P{\\u{a}}un, Gheorghe
            and Pixton, Dennis",
            editor="Rozenberg, Grzegorz
            and Salomaa, Arto",
            title="Language Theory and Molecular Genetics: Generative Mechanisms Suggested by DNA Recombination",
            bookTitle="Handbook of Formal Languages: Volume 2. Linear Modeling: Background and Application",
            year="1997",
            publisher="Springer Berlin Heidelberg",
            address="Berlin, Heidelberg",
            pages="295--360",
            abstract="The stimulus for the development of the theory presented in this chapter is the string behaviors exhibited by the group of molecules often referred to collectively as the informational macromolecules. These include the molecules that play central roles in molecular biology and genetics: DNA, RNA, and the polypeptides. The discussion of the motivation for the generative systems is focused here on the recombinant behaviors of double stranded DNA molecules made possible by the presence of specific sets of enzymes. The function of this introduction is to provide richness to the reading of this chapter. It indicates the potential for productive interaction between the systems discussed and molecular biology, biotechnology, and DNA computing. However, the theory developed in this chapter can stand alone. It does not require a concern for its origins in molecular phenomena. Accordingly, only the most central points concerning the molecular connection are given here. An appendix to this chapter is included for those who wish to consider the molecular connection and possible applications in the biosciences. Here we present only enough details to motivate each term in the definition of the concept of a splicing rule that is given in the next section. The splicing rule concept is the foundation for the present chapter.",
            isbn="978-3-662-07675-0",
            doi="10.1007/978-3-662-07675-0_7",
            url="https://doi.org/10.1007/978-3-662-07675-0_7"
          }
          `)
    ).map((entry) =>
      new Cite(entry).format('bibliography', {
        format: 'html',
        template: 'apa',
        lang: 'en-US',
      })
    )

    return {
      header,
      abstract,
      plain,
      biDirectional,
      citations,
      sticking,
      types,
    }
  },
  data() {
    return {
      colors: [
        '#aa0b0b',
        '#062fd5',
        '#e8820b',
        '#021a96',
        '#bd0fbd',
        '#941a1a',
        '#342c2c',
        '#06d5d5',
        '#aa0b0b',
        '#f51313',
        '#2daa0b',
        '#aa0b0b',
        '#342c2c',
      ],
      DNATop: [],
      DNABottom: [],
    }
  },
  created() {
    this.generateDNA()
  },
  methods: {
    resetDomino() {
      this.generateDNA()
    },
    generateDNA() {
      const DNATop = this.generateDNATop(36)
      const DNATopSplit = this.randSplit(DNATop, 2, 8)
      const DNABottomSplit = this.generateDNABottom(
        JSON.parse(JSON.stringify(DNATopSplit))
      )

      const DNATopSplitFormatted = DNATopSplit
      const DNABottomSplitFormatted = DNABottomSplit
      DNATopSplitFormatted.forEach((item, index) => {
        DNATopSplitFormatted[index].color = this.getRandomColor()
        DNATopSplitFormatted[index].string = item.string.split('').join(' - ')
      })

      DNABottomSplitFormatted.forEach((item, index) => {
        DNABottomSplitFormatted[index].color = this.getRandomColor()
        DNABottomSplitFormatted[index].string = item.string
          .split('')
          .join(' - ')
      })

      this.DNATop = DNATopSplitFormatted
      this.DNABottom = DNABottomSplitFormatted
    },
    generateDNATop(length) {
      let result = ''
      const characters = 'ACGT'
      const charactersLength = characters.length
      for (let i = 0; i < length; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        )
      }
      return result
    },
    generateDNABottom(DNATopSplit) {
      DNATopSplit.forEach((item, index) => {
        DNATopSplit[index].string = item.string
          .replaceAll('A', 'B')
          .replaceAll('T', 'A')
          .replaceAll('B', 'T')
          .replaceAll('C', 'D')
          .replaceAll('G', 'C')
          .replaceAll('D', 'G')
      })

      DNATopSplit = this.reorderDNABottom(DNATopSplit)

      return DNATopSplit
    },
    reorderDNABottom(DNA) {
      DNA.forEach((item, index) => {
        if (index > 0) {
          if (index === DNA.length - 1) {
            // if last element is reached move all its content to the previous
            DNA[index - 1].length += DNA[index].length
            DNA[index - 1].string += DNA[index].string

            DNA.splice(-1)
          } else {
            const shiftNr =
              Math.floor(Math.random() * (item.string.length - 1)) + 1
            const shiftString = item.string.substring(0, shiftNr)

            DNA[index - 1].length += shiftString.length
            DNA[index].length -= shiftString.length

            DNA[index].string = item.string.substring(shiftNr)
            DNA[index - 1].string += shiftString
          }
        }
      })
      return DNA
    },
    randSplit(arr, min, max) {
      if (min > arr.length || max <= min) return [arr]

      const res = []
      let i = 0
      let rnd

      while (i < arr.length) {
        rnd = Math.floor(Math.random() * (max - min)) + min
        if (i + rnd > arr.length) {
          rnd = arr.length - i
        }
        res.push({ string: arr.slice(i, i + rnd), length: rnd })
        i += rnd
      }

      if (res.some((x) => x.length < min)) return this.randSplit(arr, min, max)
      else return res
    },
    getRandomColor() {
      return this.colors[Math.floor(Math.random() * 13)]
    },
  },
}
</script>

<style>
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
</style>
